p{
        margin:5px;
    padding:2px;
    font-family:Montserrat;
    font-weight:600;
    font-size:50px;
    width:300px;
}
.font-design{
    font-weight:400;
    font-size:medium;
}
span{
    text-decoration: underline;
    font-weight:400;
    cursor:pointer;
}
span:hover{
    transition:0.2s;
    color:blue;
}

.thumbnail{
    width:300px;
    object-fit:contain;
}

.search-box{
    
}